body{
font-family: Cambria, Cochin, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgb(153, 76, 76);
padding: 0 2em 2em 2em;
}

main{
    border:30px solid brown;
    background-color: beige;

    width: 700%;
    display: block;
    max-width: 600px;
    padding: 0 2em 2em 2em;
    margin: auto;

} 

    figure {
        width: 90%;
        margin: auto;
        background-color: beige;

       
    }

h1,h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

}

footer {
    text-align: center;
}

img {
    width:70%;
    display: block;
    margin: 50px auto 50px auto;

}

.playlink {
    margin-top: 3em;
    text-align: center;
    
}